<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.gracibolos">

    <uses-permission android:name="android.permission.INTERNET" />

    <permission
        android:name="android.permission.INTERACT_ACROSS_USERS_FULL"
        android:protectionLevel="signature" />

    <application
        android:name=".ApplicationController"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"

            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--<activity android:name=".OneFragment" />
        <activity android:name=".TwoFragment" />-->

        <activity
            android:name=".SaidaActivity"
            android:label="@string/title_activity_saida"
            android:theme="@style/AppTheme.NoActionBar">
            <!--
                especifique a atividade pai como o valor de android.support.PARENT_ACTIVITY ,
                combinando com o atributo android:parentActivityName.
                A ação de clique deve ser tratada no método onOptionsItemSelected da seguinte forma:
            -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
    </application>

</manifest>
